@import 'reset.css';

.users {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.card--user {
  display: grid;
  grid-template-columns: 120px auto;
  gap: 1rem;
  padding: 0;
  overflow: hidden;
}
.card--user img {
  grid-row: span 2;
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.list-el {
  border: 1px solid #333;
  border-radius: 3px;
  padding: 0.7em 1.5em;
  margin-bottom: 10px;
  cursor: pointer;
}
.list-el:hover {
  background-color: rgb(225, 225, 225);
}
